{% extends "base.html" %}

{% load grade_tags %}

{% block content %}
    <img src="{{ data.profile_image_url }}"
         title="{{ data.screen_name }}"
         alt="{{ data.screen_name }}" />

    {% if data %}
    <div><a href="{% url twitterauth:logout %}">Logout</a></div>
    {% else %}
    <div><a href="{% url twitterauth:login %}">Login</a></div>
    {% endif %}
    
    <div>
        {% for day in days %}
        {% for hour in hours %}
        <table summary="Talks of {{ day|date:"d \d\e F \d\e Y" }} {{ hour }}:00">
            <thead>
                <tr><td>Dia: {{ day|date:"d \d\e F \d\e Y" }} / Horário: {{ hour }}:00</td></tr>
            </thead>
            <tbody>
                {% display_talks day hour %}
            </tbody>
        </table>
        {% endfor %}
        {% endfor %}
    </div>
{% endblock %}
